# Archivos con copyright que conservo localmente para mi uso personal,
# no para redistribución pública
skills/pensamiento-critico/doc/falacias-logicas.md
skills/pensamiento-critico/doc/falacias-logicas.pdf
skills/pensamiento-critico/doc/SP-ConceptsandTools.md
skills/pensamiento-critico/doc/SP-ConceptsandTools.pdf

# Sistema operativo
.DS_Store
Thumbs.db
